.ant-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ant-input-number-group-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ant-select-dropdown {
    font-family: 'preRg';
}

.ant-select-selection-item {
    font-family: 'preRg';
}