.dateItem {
    margin-top: 2rem;
    /* border: 0.5px solid gray; */
    border-radius: 0.5rem;
    box-shadow: 4px 4px 20px rgb(236, 236, 236), -4px -4px 20px rgb(236, 236, 236);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
  }

.category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    /* margin-right: 3rem; */
    margin-bottom: -3rem;
    /* padding-top: 2rem; */
}

.amount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3rem;
}

.categoryTitle {
    margin-right: 1rem; 
    font-size: 1.2rem;
    font-weight: 500;
  }
  
.amountTitle {
    /* margin-right: 1rem; */
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  
.amountInput {
    margin-left: 1rem; 
  }
  
.btnContainer {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
}