.dateItem {
    margin-top: 2rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 20px rgb(236, 236, 236), -4px -4px 20px rgb(236, 236, 236);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
  }

.category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    /* margin-right: 3rem; */
    margin-bottom: -3rem;
    /* padding-top: 2rem; */
}

.amount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3rem;
}

.categoryTitle {
    margin-right: 1rem; 
    font-size: 1.2rem;
    font-weight: 500;
  }
  
.amountTitle {
    /* margin-right: 1rem; */
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  
.amountInput {
    margin-left: 1rem; 
  }
  
.btnContainer {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
}

.toBack {
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 1.9rem;
  text-align: flex-start;
  padding-left: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  color: black
}

.backLink {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}

.popularTitle {
  margin-bottom: 0;
  margin-top: 1.6rem;
  font-size: 1.2rem;
  text-align: flex-start;
  padding-left: 0.5rem;
  font-weight: 900;
  color: black
}
