.ment1 {
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
  font-size: 1.1rem;
}

.ment2 {
  margin-top: 0;
  font-size: 1.1rem;
}

.money {
  width: 15rem;
  animation: up-down 0.8s linear 0s infinite alternate; margin-top: 0;
}

@keyframes up-down{
  from{
    transform: translatey(0px);
  }
  to{
    transform: translatey(-10px);
  }
}

.soltrip {
  color: #0046FF;
  font-weight: bold
}