.customoverlay {
	position: relative;
	background: #ffffff;
	border-radius: .4em;
  padding: 0.3rem 0.5rem 0.3rem 0;
  margin-left: -0.2rem;
  /* box-shadow: 1px black; */
  box-shadow: 2px 2px 5px 2px rgb(161, 161, 161);}

.customoverlay:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 0.4em solid transparent;
	border-top-color: #ffffff;
  /* border-bottom: 0.4em solid grey; */
	border-bottom: 0;
	margin-left: -0.4em;
	margin-bottom: -0.4em;
  
}

#numbers {
  color: rgb(255, 255, 255);
  font-family: 'preBd';
  background-color: #2e67d3;
  padding: 0.3rem 0.5rem;
  border-top-left-radius: .4em;
  border-bottom-left-radius: .4em;
}

.title {
  font-family: 'preRg';
  margin-left: 0.2rem;
}