.dateText {
  margin-top: 2rem;
  font-size: 1.4rem;
  text-align: start;
  padding-left: 1.5rem;
  font-weight: bolder;
}

.dateItem {
  border-radius: 0.5rem;
  box-shadow: 4px 4px 20px rgb(236, 236, 236), -4px -4px 20px rgb(236, 236, 236);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: white;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.centeredTable {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

.elementTitle {
  text-align: center;
  border-bottom: 0.001rem solid rgb(154, 154, 154);
  padding-bottom: 0.8rem;
  padding-left: 0.5rem;
  /* padding-right: 1.5rem; */
}

.elementContent {
  color: black;
  text-align: center;
  padding: 0.2rem;
  /* padding-right: 2rem; */
  /* padding-left: 0.5rem; */
}

/* .lineTitle {
  text-align: center;
}

.lineContent {
  text-align: center;
} */
